@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@font-face {
  font-family: "Vazir";
  src: url("../public//fonts/Vazir-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vazir";
  src: url("../public//fonts/Vazir-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vazir";
  src: url("../public//fonts/Vazir-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vazir";
  src: url("../public//fonts/Vazir-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  overflow-x: hidden;
}

.welcome-bg {
  background-image: url("../public/images/welcome-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.features-bg {
  background-image: url("../public/images/features-img.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.lawyer-bg {
  background-image: url("../public/images/LawyerShowcase.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.auth-bg {
  background-image: url("../public/images/courtroom.jpg");
  background-position: center;
  background-attachment: fixed;
}

.steps {
  position: relative;
}

.steps::before {
  content: "";
  background-color: #171717;
  width: 10px;
  height: 30px;
}